@font-face {
  font-family: "iconfont"; /* Project id 4727561 */
  src: url('//at.alicdn.com/t/c/font_4727561_o50f8o0895.woff2?t=1748359127630') format('woff2'),
       url('//at.alicdn.com/t/c/font_4727561_o50f8o0895.woff?t=1748359127630') format('woff'),
       url('//at.alicdn.com/t/c/font_4727561_o50f8o0895.ttf?t=1748359127630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bijiben1:before {
  content: "\e639";
}

.icon-bijiben:before {
  content: "\e618";
}

.icon-mianshi:before {
  content: "\e606";
}

.icon-tongjijisuan:before {
  content: "\e659";
}

.icon-zhuyi:before {
  content: "\e61e";
}

.icon-chaiquan:before {
  content: "\e647";
}

.icon-gongwuyuankaoshi:before {
  content: "\e62e";
}

.icon-wenji-suibi:before {
  content: "\e62f";
}

.icon-fenshijuan1:before {
  content: "\e643";
}

.icon-fenshijuan:before {
  content: "\e600";
}

.icon-jiqixuexi:before {
  content: "\e655";
}
